$offcanvas-vertical-height: 100vh;
$accordion-button-active-bg: white;
$accordion-border-radius: 0;
$accordion-button-focus-box-shadow: none;

ul {
  list-style: none;
}
@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
