.dashboard {
  background-color: #141415;
}
.form-label {
  color: white;
}
h1 {
  color: white;
}
.addcategories {
  display: flex;
  transition: 0.6s;
  overflow: hidden;
  h1 {
    transition: 0.6s;
  }
}
