.footer {
  .accordion {
    .accordion-item {
      border: none !important;
      .accordion-header {
        .accordion-button {
          border-top: 1px solid gainsboro;
          border-bottom: 1px solid gainsboro;
        }
      }
      input {
        border: 0;
        border-bottom: 1px solid gainsboro;
        width: 100%;
      }
    }
  }
  .footer-info {
    gap: 5rem;
    div {
      p {
        letter-spacing: 0.1rem;
        font-size: 10px;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          margin-bottom: 10px;
        }
      }
    }
  }
  .exclusive {
    flex-direction: column;
    p {
      letter-spacing: 0.1rem;
      font-size: 10px;
    }
    input {
      border: 0;
      border-bottom: 1px solid gainsboro;
    }
  }
  .social {
    a {
      color: #42474c;
      margin-right: 15px;
      padding: 5px;
      font-size: 20px;
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 50%;
      transition: 0.5s;
      border-radius: 50%;
      background-color: transparent;
      background-position: left bottom, left bottom;
      &:hover {
        color: white;

        background-color: #202327;
        background-position: left bottom, left bottom;
        background-size: 100% 0.1rem, 100% 0.1rem;
      }
    }
  }
}
