.pag-anchore {
  height: 30px;
  width: 30px;
  display: inline-block;
  text-decoration: none;
  color: white;
  border-radius: 1rem;
  text-align: center;
  line-height: 30px;
}
.active-pag {
  transition: 0.6s;
}
